<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Newsletter</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="http://fonts.cdnfonts.com/css/whitney-2" rel="stylesheet">
</head>
<body style="box-sizing: border-box; font-family: 'Whitney'; background: #F22F46;">
   <div style="width: 30%; height: 35%; border-radius:10px; background: #f9f9f9;  position: absolute; top:0; bottom: 20%; left: 0; right: 0; margin: auto; min-width: 450px; min-height:250px;">
       <div class="header" style=" text-align: center; padding-top: 8%; color:#0D122B">
           <h1>Thank You</h1>
           <p style="width: 75%; margin: auto; margin-top:10%;"><%- message %></p>
       </div>
   </div>
   </div>
</body>
</html>
