<footer>
    <nav>
        <ul>
            <li class="menu-item">RZ</li>
            <li class="menu-item">EJS </li>
            <li class="menu-item">Autor: Raziel</li>
        </ul>
    </nav>
</footer>
</body>

</html>