<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travels</title>
</head>
<style>
    .menu-item {
        display: inline;
        margin: 0 10px 0 10px;
    }
</style>

<body>
    <nav>
        <ul>
            <li class="menu-item">MENU 1</li>
            <li class="menu-item">MENU 2</li>
            <li class="menu-item">MENU 3</li>
        </ul>
    </nav>