<ul>
    <% for(var i=0; i<pessoas.length; i++) {%>
    <li>
        Nome: <%= pessoas[i].nome %>
    </li>
    <li>
        Idade: <%= pessoas[i].idade %>
        <br>
        <br>
    </li>
    <% } %>
</ul>>